.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems a.activeLink {
    color: darkblue;
}

.dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}

.changer {
    text-align: center;
}
